<div class="selection">
    <mat-slide-toggle [(ngModel)]="placeholder">
        Days placeholder
    </mat-slide-toggle>

    <mat-form-field>
        <mat-label>Months before</mat-label>
        <mat-select [(ngModel)]="monthsBefore">
            <mat-option *ngFor="let num of monthsAfterBefore" [value]="num">{{num}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Months after</mat-label>
        <mat-select [(ngModel)]="monthsAfter">
            <mat-option *ngFor="let num of monthsAfterBefore" [value]="num">{{num}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div *ngIf="!isLoading" style="width: 100%;">
    <calendar-panel [placeholderDay]="placeholder" [dataSource]="dataSource" year="2020" month="10" [monthsBefore]="monthsBefore"
        [monthsAfter]="monthsAfter" [config]="calendarConfig" (clickDate)="testMethod($event)">
    </calendar-panel>
</div>