<div class="mdc-helper">
    <ng-container *ngFor="let month of calendar.months, let iMonth = index">
        <table class="mdc-table" [style.width]="config.panelWidth">

            <thead class="mdc-table-header">
                <tr aria-hidden="true" class="mdc-body-label">
                    <td>
                        <button mat-icon-button (click)="onMonthBackward()" *ngIf="this.config.renderMode == 'monthly'">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px"
                                height="18px">
                                <path d="M0 0h24v24H0V0z" fill="none" />
                                <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z" />
                            </svg>
                        </button>
                    </td>
                    <td [attr.colspan]="config.calendarWeek? 6 : 5">
                        {{month.name | uppercase}} {{config.displayYear? month.year: ''}}
                    </td>
                    <td>
                        <button mat-icon-button (click)="onMonthForward()" *ngIf="this.config.renderMode == 'monthly'">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px"
                                height="18px">
                                <path d="M0 0h24v24H0V0z" fill="none" />
                                <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr style="border-bottom: solid 1px rgba(0, 0, 0, 0.12);">
                    <th scope="col" *ngIf="config.calendarWeek"> </th>
                    <th *ngFor="let dayname of calendar.dayNames" scope="col">
                        {{dayname}}
                    </th>
                </tr>
                <tr>
                    <th scope="col" *ngIf="config.calendarWeek" class="kw"></th>
                    <th scope="col" style="height: 10px;"></th>
                </tr>
            </thead>
            <tbody role="grid" class="mdc-body">

                <ng-container *ngFor="let row of month.render, let iRender = index">
                    <tr role="row">
                        <ng-container *ngFor="let day of row">
                            <td role="gridcell" class="mdc-body-cell clickable tooltip" [matTooltip]="day.toolTip"
                                matTooltipClass="tooltip-helper" tabindex="-1" *ngIf="day.type == 'date'"
                                [ngClass]="config.calendarWeek? 'eight' : 'seven'" (click)="onClick(day, 'date')"
                                (mouseenter)="onMouseOver(day.date)">
                                <div class="mdc-body-cell-content"
                                    [class.blurday]="day.hasOwnProperty('backgroundColor')"
                                    [ngClass]="[day.date == today? 'mdc-body-today': '',day.date == selectedDayStart || day.date == selectedDayEnd? 'selected': '']">
                                    {{day.day}}
                                </div>
                                <div class="mdc-body-cell-content"
                                    [ngClass]="[day.date == selectedDayStart && selectedDayBetween.length > 0? 'selected-border-left': '']"
                                    [class.selected-set]="getCanIBeHighlighted(day.date)"
                                    [class.date-between]="getAmIBetween(day.date)"
                                    [class.selected-border-right]="selectedDayBetween.length > 0 && day.date === selectedDayBetween[selectedDayBetween.length -1]">

                                </div>
                                <div class="mdc-body-cell-content" style="z-index: -3;border-radius: 4px;"
                                    [ngStyle]="{'background':day.backgroundColor}">
                                    <ng-container
                                        *ngIf="day.hasOwnProperty('badgeMode') && day.date != selectedDayStart && day.date != selectedDayEnd">
                                        <span class="mdc-badge mdc-badge-int" *ngIf="day.badgeMode == 'Int'">
                                            {{day.badgeInt}}
                                        </span>
                                        <span class="mdc-badge mdc-badge-icon" *ngIf="day.badgeMode == 'Icon'">
                                            <mat-icon
                                                style="height: 20px;width: 20px;padding: 1px 2px;font-size: 20px;">
                                                {{day.badgeIcon}}
                                            </mat-icon>
                                        </span>
                                    </ng-container>
                                </div>
                            </td>
                            <td role="gridcell" class="mdc-body-cell kw" tabindex="-1" *ngIf="day.type == 'kw'"
                                [ngClass]="config.calendarWeek? 'eight' : 'seven'">
                                <div> {{day.kw}} </div>
                            </td>
                            <!-- PalceholderDays -->
                            <td role="gridcell" class="mdc-body-cell clickable placeholderDay" tabindex="-1"
                                (click)="onClick(day.date, 'placeholderDay')"
                                *ngIf="day.type == 'placeholderDay' && placeholderDay"
                                [ngClass]="config.calendarWeek? 'eight' : 'seven'">
                                <div class="mdc-body-cell-content">
                                    {{ day.day }}
                                </div>
                            </td>
                            <td role="gridcell" class="mdc-body-cell" tabindex="-1"
                                *ngIf="day.type == 'placeholderDay' && !placeholderDay"
                                [ngClass]="config.calendarWeek? 'eight' : 'seven'">
                                <div></div>
                            </td>
                        </ng-container>
                    </tr>
                    <tr>
                        <th scope="col" *ngIf="config.calendarWeek" class="kw"></th>
                        <th scope="col" style="height: 5px;"></th>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </ng-container>
</div>